.product-container {
  width: 80vw;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.product-left {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.preview-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  object-fit: cover;
  cursor: pointer;
}
.preview-img img {
  width: 10rem;
}
.selected-img {
  object-fit: cover;
}
.selected-img img {
  width: 34rem;
}
.product-right {
  flex: 1;
}
.product-title {
  word-spacing: 8px;
  font-size: 2.75rem;
  font-weight: 600;
}
.product-price {
  font-size: 1.75rem;
  margin: 1rem 0;
}
.product-old-price {
  font-size: 1rem;
  color: #555;
  text-decoration: line-through;
  margin-right: 0.7rem;
}
.product-desc {
  text-wrap: balance;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  color: #555;
}
.product-quantity {
  color: #555;
  width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  width: 15rem;
  height: 3rem;
}
.quantity-btns {
  background: #f0f0f0;
  padding: 10px;
  width: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f0f0f0;
}
.product-quantity button {
  cursor: pointer;
}
.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  background-color: #333;
  color: #e9e9e9;
  width: 10rem;
  cursor: pointer;
}
.temp {
  display: flex;
  gap: 2.5rem;
}

@media screen and (width <= 1024px) {
  .product-container {
    width: 90vw;
  }
  .product-left {
    flex-direction: column-reverse;
    margin: auto;
  }
  .preview-img img {
    width: 7rem;
  }
  .selected-img img {
    width: 22rem;
  }
  .preview-img {
    flex-direction: row;
    justify-content: center;
  }
  .product-title {
    font-size: 2rem;
  }
  .product-desc {
    font-size: 1.1rem;
    text-align: justify;
  }
  .product-quantity {
    width: 10rem;
  }
  .temp {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .product-right {
    width: 100%;
  }
  .selected-img img {
    width: 18rem;
  }
}
@media screen and (max-width: 320px) {
  .product-title {
    font-size: 1.75rem;
  }
  .product-right {
    width: 100%;
  }
  .selected-img img {
    width: 18rem;
  }
  .temp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
