.contact {
  margin: 50px 0;
  background-color:whitesmoke;
  padding: 15px;
  
}
.contact-wrapper {
  width:65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-icons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.contact-input {
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.contact-input:focus {
  outline: none;
}
.contact-btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}