.search-container {
  width: 80vw;
  margin: auto;
  overflow-x: scroll;
  margin-bottom: 1rem;
}
.input-wrapper {
  position: sticky;
  left: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.search-results {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.search-container input {
  padding: 10px;
  height: 2rem;
  border: 1px solid #333;
}
.search-btn,
.close-btn {
  width: 5rem;
  height: 2rem;
  background: #333;
  color: #e9e9e9;
  cursor: pointer;
}
.query-input {
  outline: none;
}
.query-input:focus {
  outline: none;
}



@media screen and (max-width: 425px) {
  .search-container input {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .search-container input {
    margin-bottom: 1rem;
  }
  .close-btn {
    width: 2rem;
  }
}
