.banner {
  margin: auto;
  background-color: #e9e9e9;
  width: 90vw;
  height: 500px;
}
.banner-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.banner-img {
  height: 100%;
}
.banner-img img {
  height: 100%;
  width: 35rem;
  object-fit: cover;
  float: right;
  filter: grayscale(100%);
}
.header-background {
  font-family: "Playfair Display";
  position: absolute;
  font-weight: 700;
  font-size: 12rem;
  opacity: 0.2;
  top: 18%;
  left: -28%;
  letter-spacing: 12px;
}
.header-foreground {
  z-index: 5;
  position: absolute;
  top: 37%;
  left: 12%;
  background-color: #333;
  color: #e9e9e9;
  font-weight: 700;
  font-size: 4rem;
}
/* @media screen and (width: 768px) {
  .banner-img img {
    width: 200px;
  }
} */
@media screen and (max-width: 425px) {
  .header-foreground {
    font-size: 3rem;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
